body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}



.project-jumbotron{
    text-decoration: none;
    color:red;

}



.dt-head-center {
    text-align: left;
}

.ticket-row:hover  {
    cursor:pointer;

}


/*VALIDATION*/
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.validation-summary-errors {
    color: red;
} 

/*Landing PAge*/
.landing-body {
    background-color: #f2f2f2
}


/*Drop Down Account Menu*/
a.nav-link.dropdown-toggle {
    padding: 0;
}

ul.nav.nav-tabs {
    border: none;
}

#ticket-status {
    font-weight:900;
}

.card {
    box-shadow: 2px 3px 8px black;
}

.disable-card {
    opacity:0.7;
}