@model TrackIt.ViewModels.ProjectListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

@foreach (var project in Model.Projects)
{

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2>@project.Name</h2>

            <h6>Status: <small>@project.ProjectStatus.Name</small></h6>
            
            @{ 
                var a = Model.TicketStats[project.Id];

            }
            @foreach(var k in a.Values)
            {
                    <p>@k</p>
            }

            @{ 
                <p>@a.Keys[0]</p>
            }


        </div>
    </div>


}

